{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "monthly/challenges.css" %}">
    <link rel="stylesheet" href="{% static "monthly/includes/header.css" %}">
{% endblock css_files %}
{% block title %}
    All Challenges
{% endblock title %}
{% block content %}
    {% include "monthly/includes/header.html" %}
    <ul>
        {% for month in months %}
            <li>
                <a href="{% url 'month-challenge-str' month %}">{{ month | capfirst }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
